/*
  Agregue las reglas y valores para: 
    - Ancho máximo 50%
    - Mostrar como tipo bloque
    - Margen 
          superior e inferior: 0
          izquierda y derecha: automático 
*/

/* Inicio */
picture img {

}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Borde del radio: 0.4rem
*/

/* Inicio */
picture img {

}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Ancho máximo 30%
    - Mostrar como tipo bloque
    - Margen 
          superior e inferior: 0
          izquierda y derecha: automático 
*/

/* Inicio */
picture span {

}
/* Fin */


/*
  Agregue las reglas y valores para: 
    - Color de fondo: blanco
    - Relleno
        arriba y abajo:  1.4rem
        izquierda y derecha:  2rem
*/

/* Inicio */
picture span {

}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Tamaño de la fuente:  1.5vw
    - Estilo de la fuente:  itálica
    - Borde
        color: #1F516B
        ancho: 1.2pt, excepto el valor del borde derecho que es 0
        estilo: sólido 

*/

/* Inicio */
picture span {

}
/* Fin */


/*
  Agregue las reglas y valores para: 
    - Posición:  relativa
    - Arriba:  -5.7rem
    - Abajo:  8.7rem
*/

/* Inicio */
picture span {

}
/* Fin */


