/*
  Agregue las reglas y valores para: 
    - Ancho máximo 50%
    - Mostrar como tipo bloque
    - Margen 
          superior e inferior: 0
          izquierda y derecha: automático 
*/

/* Inicio */
picture img {
  max-width:50%;
  display: block;
  margin: 0 auto;
}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Borde del radio: 0.4rem
*/

/* Inicio */
picture img {
  border-radius: 0.4rem;
}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Ancho máximo 30%
    - Mostrar como tipo bloque
    - Margen 
          superior e inferior: 0
          izquierda y derecha: automático 
*/

/* Inicio */
picture span {
  max-width: 30%; 
  display: block;
  margin: 0 auto;
}
/* Fin */


/*
  Agregue las reglas y valores para: 
    - Color de fondo: blanco
    - Relleno
        arriba y abajo:  1.4rem
        izquierda y derecha:  2rem
*/

/* Inicio */
picture span {
  background: white;
  padding: 1.4rem 2rem; 
}
/* Fin */

/*
  Agregue las reglas y valores para: 
    - Tamaño de la fuente:  1.5vw
    - Estilo de la fuente:  itálica
    - Borde
        color: #1F516B
        ancho: 1.2pt, excepto el de la derecha que tiene valor 0
        estilo: sólido 

*/

/* Inicio */
picture span {
  font-size: 1.5vw;
  font-style: italic;

  border-color: #1F516B;
  border-width: 1.2pt 0pt 1.2pt 1.2pt;
  border-style: solid;
}
/* Fin */


/*
  Agregue las reglas y valores para: 
    - Posición:  relativa
    - Arriba:  -5.7rem
    - Abajo:  8.7rem
*/

/* Inicio */
picture span {
  position: relative;
  top: -5.7rem;
  left:  8.7rem;
}
/* Fin */


