<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un objeto
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>object<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">data</span> con valor <span class="etiqueta">images/contact-calling-phone-svgrepo-com.svg</span>) y con el ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">80</span>); y otro objeto
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>object<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">data</span> con valor <span class="etiqueta">images/man-talking-avatar-svgrepo-com.svg</span>) y con el ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">60</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un video
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>video<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">media/video.mp4</span>), con el ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">320</span>), con el alto (atributo <span class="etiqueta">height</span> con valor <span class="etiqueta">240</span>) y con el tipo (atributo <span class="etiqueta">type</span> con valor <span class="etiqueta">video/mp4</span>). Muestre los controles (atributo <span class="etiqueta">controls</span> con valor <span class="etiqueta">yes</span>). Agregue un audio
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>audio<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">media/audio.mp3</span>) y con el tipo (atributo <span class="etiqueta">type</span> con valor <span class="etiqueta">audio/mpeg</span>). Muestre los controles. 
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un objeto
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>object<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">data</span> con valor <span class="etiqueta">documentos/manual.pdf</span>), con la altura (atributo <span class="etiqueta">height</span> con valor <span class="etiqueta">500px</span>) y con el ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">100%</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
