@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');

.container {
	background: rgb(0,212,255);
	background: linear-gradient(0deg, rgba(0,147,177,1) 0%, rgba(0,212,255,1) 100%);
}

.full {
	min-height: 100vh;
}

.titulo {
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

.v-align {
	padding: 30vh 0;
}