<section class="container">
	<div class="row half justify-content-center">
		<div class=" col-12"></div>
	</div>
	<div class="row half justify-content-center">
		<div class=" col-12 text-center bg-light pt-4">
			<h2 class="mb-0">Mi album</h2>
			<h5 class="text-muted text-black-50 mt-n1 pb-2">6 fotos</h5>
		</div>
		<div class="col-12 text-center bg-light">
			<div class="row">
				<div class="col-4 text-end">
					<h4>42</h4>
					<h5 class="text-secondary mt-n1">Fotos</h5>
				</div>
				<div class="col-4">
					<h4>53</h4>
					<h5 class="text-secondary mt-n1">Seguidores</h5>
				</div>
				<div class="col-4 text-start">
					<h4>63K</h4>
					<h5 class="text-secondary mt-n1">Seguidos</h5>
				</div>
			</div>
		</div>
		<div class="col-12 text-center bg-light pt-5 pb-5">
			<button type="button" class="btn btn-success mx-2">Ver</button>
			<button type="button" class="btn btn-light">Mensaje</button>
		</div>
	</div>
</section>