<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un elemento de bloque
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>p<span class="simbolo">></span></span>)
      que contenga dos etiquetas en línea (etiqueta <span class="etiqueta"><span class="simbolo"><</span>span<span class="simbolo">></span></span> y etiqueta <span class="etiqueta"><span class="simbolo"><</span>sub<span class="simbolo">></span></span>). Dentro de la primera etiqueta en línea (<span class="etiqueta"><span class="simbolo"><</span>span<span class="simbolo">></span></span>), coloca el texto: <span class="texto">Estudia no para saber una cosa más, sino para saberla mejor.</span> Dentro de la segunda etiqueta en línea (<span class="etiqueta"><span class="simbolo"><</span>sub<span class="simbolo">></span></span>), coloca el texto: <span class="texto">Séneca.</span>
    </p>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
