/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */

  body {
    display: flex;
    flex-direction: column;
  }

  section {
    background: yellow;
  }

  body :nth-child(2n+1) {
    display: none;
  }
}