<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/codepenstyle.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>
    <h2>Snippet tomado de <a href="https://codepen.io/candroo/pen/wKEwRL" title="Andrew Canham"> Andrew Canham - Codepen </a></h2>
    <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">cargarLibros</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      <div class="cards">
        
      </div>
    </div>
    
    <script src="/scripts/ejercicio.js"></script>
  </body>
</html>