<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>
    <p class="instrucciones">
      Agregue un formulario (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>form<span class="simbolo">></span></span>) con un identificador (atributo <span class="etiqueta">id</span> con el valor <span class="etiqueta">formulario</span>), con los siguientes elementos:

      <br>
      El rótulo (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>label<span class="simbolo">></span></span>) con el texto <span class="texto">Nombres completos:</span> tiene una caja de texto relacionada (atributo <span class="etiqueta">for</span> con el valor <span class="etiqueta">nombrescompletos</span>).  
      La caja de texto (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>input<span class="simbolo">></span></span>) de tipo texto (atributo <span class="etiqueta">type</span> con el valor <span class="etiqueta">text</span>), con el identificador (atributo <span class="etiqueta">id</span>) y el nombre (atributo <span class="etiqueta">name</span>) con el valor <span class="etiqueta">nombrescompletos</span>. El valor de la caja es requerido (atributo <span class="etiqueta">required</span> con el valor <span class="etiqueta">required</span>).

      <br>
      El rótulo con el texto <span class="texto">Correo electrónico:</span> tiene una caja de texto relacionada (<span class="etiqueta">correoelectronico</span>). La caja de texto de tipo correo electrónico (<span class="etiqueta">email</span>), con el identificador y el nombre con el valor <span class="etiqueta">correoelectronico</span>. El valor de la caja es requerido.

      <br>
      El rótulo con el texto <span class="texto">Género:</span>. Tres cajas de texto de tipo botones de opción (<span class="etiqueta">radio</span>) con el mismo nombre (atributo <span class="etiqueta">name</span> con el valor <span class="etiqueta">genero</span>). Para cada opción, el identificador y el valor (atributo <span class="etiqueta">value</span>) es (<span class="etiqueta">femenino</span>, <span class="etiqueta">masculino</span> y <span class="etiqueta">noresponder</span>). Para cada opción, el rótulo correspondiente con el texto <span class="texto">Femenino</span>, <span class="texto">Masculino</span> y <span class="texto">Prefiero no responder</span>. Cada opción y rótulo están relacionados (<span class="etiqueta">femenino</span>, <span class="etiqueta">masculino</span> y <span class="etiqueta">noresponder</span>) entre si. La opción seleccionada de manera predeterminada (atributo <span class="etiqueta">checked</span> con el valor <span class="etiqueta">checked</span>) es <span class="texto">Prefiero no responder</span>.  

      <br>
      El rótulo con el texto <span class="texto">Fecha de nacimiento:</span> tiene una caja de texto relacionada (<span class="etiqueta">fechanacimiento</span>). La caja de texto de tipo fecha (<span class="etiqueta">date</span>), con el identificador y el nombre con el valor <span class="etiqueta">fechanacimiento</span>. El valor de la caja es requerido.

      <br>
      El rótulo con el texto <span class="texto">Sistema Operativo:</span> tiene una lista relacionada (<span class="etiqueta">sistemaoperativo</span>). La lista (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>select<span class="simbolo">></span></span>), con el identificador y el nombre con el valor (<span class="etiqueta">sistemaoperativo</span>). Las opciones de la lista tienen como texto <span class="texto">Windows</span>, <span class="texto">Linux</span> y <span class="texto">MacOS</span>; y como valor (atributo <span class="etiqueta">value</span> correspondiente a <span class="etiqueta">windows</span>, <span class="etiqueta">linux</span> y <span class="etiqueta">macos</span>).

       <br>
      El rótulo con el texto <span class="texto">Puntuación:</span> tiene una caja de texto relacionada (<span class="etiqueta">puntuacion</span>). La caja de texto de tipo número (<span class="etiqueta">number</span>), con el identificador y el nombre con el valor (<span class="etiqueta">puntuacion</span>). La caja de texto tiene como valor mínimo 1 (atributo <span class="etiqueta">min</span> con el valor <span class="etiqueta">1</span>) y valor máximo 10 (atributo <span class="etiqueta">max</span> con el valor <span class="etiqueta">10</span>).

      <br>
      El rótulo con el texto <span class="texto">Mensaje:</span> tiene una caja de texto multilínea relacionada (<span class="etiqueta">mensaje</span>). La caja de texto multilínea (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>textarea<span class="simbolo">></span></span>), con el identificador y el nombre con el valor (<span class="etiqueta">mensaje</span>). La caja de texto multilínea tiene 10 filas (atributo <span class="etiqueta">rows</span> con el valor <span class="etiqueta">10</span>) y 50 columnas (atributo <span class="etiqueta">cols</span> con el valor <span class="etiqueta">50</span>).

      <br>
      La caja de texto de tipo casilla de verificación (<span class="etiqueta">checkbox</span>), con el identificador y el nombre con el valor (<span class="etiqueta">nosoyunrobot</span>). El rótulo con el texto <span class="texto">No soy un robot</span> tiene una caja de texto relacionada (<span class="etiqueta">nosoyunrobot</span>).       

      <br>
      El botón (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>button<span class="simbolo">></span></span>) de tipo enviar (atributo <span class="etiqueta">type</span> con el valor <span class="etiqueta">submit</span>) y el nombre (atributo <span class="etiqueta">name</span> con el valor <span class="etiqueta">enviar</span>). El texto del botón es <span class="texto">Enviar</span>. El botón (etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>button<span class="simbolo">></span></span>) de tipo reiniciar (atributo <span class="etiqueta">type</span> con el valor <span class="etiqueta">reset</span>) y el nombre (atributo <span class="etiqueta">name</span> con el valor <span class="etiqueta">reiniciar</span>) . El texto del botón es <span class="texto">Cancelar</span>.
      
      <br>
      Utilice la etiqueta <span class="etiqueta"><span class="simbolo">&lt;</span>br<span class="simbolo">></span></span> para los saltos de línea que aparecen en el navegador.
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <form id="formulario">
        
        <label for="nombrescompletos">Nombres completos:</label> <input type="text" id="nombrescompletos" name="nombrescompletos" required="required" /><br>
        
        <label for="correoelectronico">Correo electrónico:</label> <input type="email" id="correoelectronico" name="correoelectronico" required="required" /><br>

        <label>Género:</label><br>
        <input type="radio" id="femenino" name="genero" value="femenino">
        <label for="femenino">Femenino</label><br>
        <input type="radio" id="masculino" name="genero" value="masculino">
        <label for="masculino">Masculino</label><br>
        <input type="radio" id="noresponder" name="genero" value="noresponder" checked="checked">
        <label for="noresponder">Prefiero no responder</label><br>
        
        <label for="fechanacimiento">Fecha de nacimiento:</label> <input type="date" id="fechanacimiento" name="fechanacimiento" required="required" /><br>
        
        <label for="sistemaoperativo">Sistema Operativo:</label>
        <select id="sistemaoperativo" name="sistemaoperativo">
            <option value="windows">Windows</option>
            <option value="linux">Linux</option>
            <option value="macos">MacOS</option>
        </select><br>
        
        <label for="puntuacion">Puntuación:</label> <input type="number" id="puntuacion" name="puntuacion" min="1" max="10" /><br>
        
        <label for="mensaje">Mensaje:</label> <textarea id="mensaje" name="mensaje" rows="10" cols="50"></textarea><br>
        
        <input type="checkbox" id="nosoyunrobot" value="nosoyunrobot"> <label for="nosoyunrobot">No soy un robot</label><br>
        
        <button type="submit" name="enviar">Enviar</button> <button type="reset" name="reiniciar">Cancelar</button>
      </form>
      <!-- Fin -->
    </div>
  </body>
</html>