div.respuesta {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

div.respuesta p {
  line-height: 1.5;
  text-align: justify;
}

div.respuesta p#author {
  margin: 0 0 1rem;
}

div.respuesta h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

img {
  max-width: 30%;
}

img.hero-image {
  max-width: 90%;
  margin: 0 auto;
}