/*
*/

article {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*
*/

/* Inicio */

@media screen and (max-width: 640px) {

  article {
    display: grid;
    grid-template-columns: 1fr;
  }

}

/* Fin */

/*
*/

/* Inicio */

@media screen and (max-width: 640px) {

  div.right img {
    display: none;
  }

}

/* Fin */

