<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>
    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <section id="section-one">
        <div class="container">
          <h1>This is an awesome title</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem omnis cumque excepturi, et suscipit nulla, harum ad incidunt quam eaque dolores, ipsum nemo? Eos ab voluptatum sed mollitia fuga!</p>
        </div>
      </section>
      <section id="section-two">
        <div class="container card-wrapper">
          <div class="card">
            <h2>This is card title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem omnis cumque excepturi, et suscipit nulla, harum ad incidunt quam eaque dolores, ipsum nemo? Eos ab voluptatum sed mollitia fuga!</p>
          </div>
          <div class="card">
            <h2>This is card title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem omnis cumque excepturi, et suscipit nulla, harum ad incidunt quam eaque dolores, ipsum nemo? Eos ab voluptatum sed mollitia fuga!</p>
          </div>
          <div class="card">
            <h2>This is card title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem omnis cumque excepturi, et suscipit nulla, harum ad incidunt quam eaque dolores, ipsum nemo? Eos ab voluptatum sed mollitia fuga!</p>
          </div>
        </section>
        <section id="section-three">
          <div class="container">
            <h1>This is an awesome title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem omnis cumque excepturi, et suscipit nulla, harum ad incidunt quam eaque dolores, ipsum nemo? Eos ab voluptatum sed mollitia fuga!</p>
          </div>
        </section>
        <!-- Fin -->
      </div>
    </body>
  </html>