<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un título de nivel 1 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>h1<span class="simbolo">></span></span>)
      con el texto <span class="texto">El título más importante</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <article>
      <img
        src=
"https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190710102234/download3.png"
        alt=""
        width="300"
        height="250"
        class="alignnone size-medium wp-image-560930"
      />
      <h1>GeeksforGeeks</h1>
        
<p>
        Sandeep Jain(FOUNDER) An IIT Roorkee alumnus and 
        founder of GeeksforGeeks. Apart from GeeksforGeeks, 
        he has worked with DE Shaw and Co. as a software 
        developer and JIIT Noida as an assistant professor.
      </p>
  
    </article>
      <!-- Fin -->
    </div>


  </body>
</html>
