<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un artículo 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>article<span class="simbolo">></span></span>)
      con los siguientes elementos: una imagen (atributo <span class="etiqueta">src</span> con el valor <span class="etiqueta">https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190710102234/download3.png</span> y el atributo <span class="etiqueta">alt</span> con el valor <span class="etiqueta">GeeksforGeeks</span>), un título de nivel 2 con el texto <span class="texto">GeeksforGeeks</span> y un párrafo con el texto <span class="texto">Sandeep Jain(FOUNDER) An IIT Roorkee alumnus and 
        founder of GeeksforGeeks. Apart from GeeksforGeeks, 
        he has worked with DE Shaw and Co. as a software 
        developer and JIIT Noida as an assistant professor.</span>.
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
