<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <section id="literal01">

      <p class="instrucciones">Agregue una imagen
        (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta absoluta (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">https://picsum.photos/200/300</span>).
      </p>
      
      <div class="respuesta">
        <!-- Inicio -->
        
        <!-- Fin -->
      </div>
      
    </section>


    <p class="instrucciones">Agregue una imagen
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">images/tablet.jpg</span>) y con la ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">250</span>). Fuente: <a href="https://www.freepik.es/foto-gratis/mostrando-pantalla-blanco-tableta_11166840.htm#&position=23&from_view=search" target="_blank">Freepik</a>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue una imagen
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">images/tablet2.jpg</span>) y con la texto alternativo (atributo <span class="etiqueta">alt</span> con valor <span class="etiqueta">Imagen de tablet 2</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un enlace
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>a<span class="simbolo">></span></span>) con la referencia (atributo <span class="etiqueta">href</span> a <span class="etiqueta">https://developer.mozilla.org/es/</span>) y con el texto <span class="texto">MDN - Mozilla Developer Network</span>. El enlace se abre en una nueva pesta침a (atributo <span class="etiqueta">target</span> con valor <span class="etiqueta">_blank</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un enlace
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>a<span class="simbolo">></span></span>) con la referencia a una secci칩n interna (atributo <span class="etiqueta">href</span> con el valor <span class="etiqueta">#literal01</span>)  y con el texto <span class="texto">Ir a la secci칩n literal 01</span>.
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un p치rrafo
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>p<span class="simbolo">></span></span>). Use el texto: <span class="texto">Suspendisse potenti. Ut ... consequat eget nunc.</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue cuatro textos
      (cuatro etiquetas <span class="etiqueta"><span class="simbolo"><</span>span<span class="simbolo">></span></span> diferentes). El primer y el tercer texto tiene como clase (atributo <span class="etiqueta">class</span> con el valor <span class="etiqueta">fraseimpar</span>). El segundo y el cuarto texto tiene como clase (atributo <span class="etiqueta">class</span> con el valor <span class="etiqueta">frasepar</span>). El primer texto tiene como contenido: <span class="texto">Etiam et mauris sit amet ipsum accumsan mattis.</span>, el segundo texto tiene como contenido: <span class="texto">Morbi orci est, pellentesque at sodales in, pretium vel eros.</span>, el tercer texto tiene como contenido: <span class="texto">Suspendisse potenti.</span>, y el cuarto texto tiene como contenido: <span class="texto">Pellentesque tempus massa at leo tempor sollicitudin.</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
