* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.titulo {
  font-weight: bold;
  font-size: 2.1rem;
  text-align: center;
}

.instrucciones {
  background-color: #e1f7e1;
  padding: 1rem;
  line-height: 2rem;
}

.etiqueta {
  color: #905;
}

.simbolo {
  color: #999;
}

.texto {
  background-color: #e0d5d5;
  padding: 0.4rem;
  margin-left: 0.2rem;
}

.respuesta {
  min-height: 5rem;
  border: 0.5pt solid black;
  padding: 1%;
}