<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un formulario (etiqueta <span class="etiqueta"><span class="simbolo"><</span>form<span class="simbolo">></span></span>)
      con los campos: <span class="texto">Nombres completos (tipo: texto, requerido)</span> (etiqueta <span class="etiqueta"><span class="simbolo"><</span>input<span class="simbolo">></span></span>), <span class="texto">Correo electrónico (tipo: correo, requerido)</span>, <span class="texto">Género (tipo: radio - valores: Masculino, Femenino, Otro - solo una opción es posible escoger)</span>, <span class="texto">Fecha de nacimiento (tipo: fecha)</span>, <span class="texto">Sistema Operativo (tipo: selección - una lista de valores: Windows, MacOS y Linux)</span> (etiqueta <span class="etiqueta"><span class="simbolo"><</span>select<span class="simbolo">></span></span>), <span class="texto">Mensaje (tipo: área de texto, 10 filas y 30 columnas)</span> (etiqueta <span class="etiqueta"><span class="simbolo"><</span>textarea<span class="simbolo">></span></span>), <span class="texto">Puntuación (tipo: número - mínimo: 1, máximo: 10, incremento: 1)</span>, <span class="texto">No soy un robot (tipo: caja de verificación, requerido)</span>, y <span class="texto">Enviar (tipo: botón)</span> (etiqueta <span class="etiqueta"><span class="simbolo"><</span>button<span class="simbolo">></span></span>).
      
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
