<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue la referencia a la hoja de scripts  
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>script<span class="simbolo">></span></span>)
      con la ruta <span class="texto">scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      
    </div>

    <!-- Inicio -->
    <script src="scripts/ejercicio.js"></script>
    <!-- Fin -->
  </body>
</html>
