<section class="container-fluid full">
	<div class="row half justify-content-center">
		<div class="p-0 pt-2 col-2">
			<button mat-icon-button color="basic" aria-label="back">  
       			<mat-icon>arrow_back</mat-icon> 
    		</button>  
		</div>
		<div class="offset-8 p-0 pt-2 col-2">
    		<button mat-icon-button color="basic" aria-label="back">  
       			<mat-icon>menu</mat-icon> 
    		</button>  
		</div>
		<div class="col-12">
			<div id="picture" class="rounded-circle mx-auto d-block"></div>
		</div>
		<div class="col-12 text-center">
			<h2 class="mb-0">Mi album</h2>
			<h5 class="text-muted text-black-50 mt-n1 pb-4">6 fotos</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
    		<h4>Fotos</h4>
		</div>
		<div class="offset-8 p-0 col-2">
			<button mat-icon-button color="basic" aria-label="back">  
       			<mat-icon>expand-wide</mat-icon>
    		</button>  
    		
		</div>
	</div>
	<div class="row">
		<mat-grid-list cols="4" rowHeight="100px">
		<mat-grid-tile
		class="photo"
		*ngFor="let photo of photos"
		[colspan]="1"
		[rowspan]="1"
		[style.background-image]="'url(' + photo.url + ')'">
		</mat-grid-tile>
		</mat-grid-list>
		<!-- <div id="id1" class="col-4 p-0"></div>
		<div id="id2" class="col-4 p-0"></div>
		<div id="id3" class="col-4 p-0"></div> -->
	</div>
	
</section>