<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue objeto
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>object<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">data</span> con valor <span class="etiqueta">images/contact-calling-phone-svgrepo-com.svg</span>) y con la ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">80</span>) y otro objeto
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>object<span class="simbolo">></span></span>)
      con la ruta relativa (atributo <span class="etiqueta">data</span> con valor <span class="etiqueta">images/man-talking-avatar-svgrepo-com.svg</span>) y con la ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">60</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <object data="images/contact-calling-phone-svgrepo-com.svg" width="80"> </object>
      <object data="images/man-talking-avatar-svgrepo-com.svg" width="60"> </object>
      <!-- Fin -->
    </div>


  </body>
</html>
