<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
       <div id="bloque1">
          <img src="https://pixabay.com/get/g12e5222f1b44031f547047f33888f62b0f547319ff6a8e225b8e6051e79ff93f19c55f7d88b2a4c0a42e0ef6814c8632_1280.jpg" alt="imagen 1">
          <img src="https://pixabay.com/get/ge23a99036e557afcb25e81861b5a77cff7c2dfe523607e7a3708967f9f1a6b26feb1964b129e4d999a677e9d5eead531_1280.jpg" alt="image 2">
          <img src="https://pixabay.com/get/gdbb805a0eba3c1178c4fd43abbe7f0bb56a8031a59b1161557fc4bceba90c048779e1af06218ab398ac27e28c7ae84f0_1280.jpg" alt="image 3">
          <img src="https://pixabay.com/get/gf666056335748edf9faacd2b082295af3b06f873927075389f5b128a613a60514de55460cbb30d319e1731e6476f4a19_1280.jpg" alt="image 4">
       </div>
      <!-- Fin -->
    </div>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>

    <div class="respuesta">
      <!-- Inicio -->
       <div id="bloque2">
          <img src="https://pixabay.com/get/g12e5222f1b44031f547047f33888f62b0f547319ff6a8e225b8e6051e79ff93f19c55f7d88b2a4c0a42e0ef6814c8632_1280.jpg" alt="imagen 1">
          <img src="https://pixabay.com/get/ge23a99036e557afcb25e81861b5a77cff7c2dfe523607e7a3708967f9f1a6b26feb1964b129e4d999a677e9d5eead531_1280.jpg" alt="image 2">
          <img src="https://pixabay.com/get/gdbb805a0eba3c1178c4fd43abbe7f0bb56a8031a59b1161557fc4bceba90c048779e1af06218ab398ac27e28c7ae84f0_1280.jpg" alt="image 3">
          <img src="https://pixabay.com/get/gf666056335748edf9faacd2b082295af3b06f873927075389f5b128a613a60514de55460cbb30d319e1731e6476f4a19_1280.jpg" alt="image 4">
       </div>
      <!-- Fin -->
    </div>


  </body>
</html>
