<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue una imagen
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta absoluta (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">https://picsum.photos/200/300</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <img src="https://picsum.photos/200/300">
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue una imagen
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">images/tablet.jpg</span>) y con la ancho (atributo <span class="etiqueta">width</span> con valor <span class="etiqueta">250</span>). Fuente: <a href="https://www.freepik.es/foto-gratis/mostrando-pantalla-blanco-tableta_11166840.htm#&position=23&from_view=search" target="_blank">Freepik</a>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <img src="images/tablet.jpg" width="250">
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue una imagen
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>img<span class="simbolo">></span></span>) con la ruta relativa (atributo <span class="etiqueta">src</span> con valor <span class="etiqueta">images/tablet2.jpg</span>) y con la texto alternativo (atributo <span class="etiqueta">alt</span> con valor <span class="etiqueta">Imagen de tablet 2</span>).
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <img src="images/tablet2.jpg" alt="Imagen de tablet 2">
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un enlace
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>a<span class="simbolo">></span></span>) con la referencia (atributo <span class="etiqueta">href</span> a <span class="etiqueta">https://developer.mozilla.org/es/</span>) y con el texto <span class="texto">MDN - Mozilla Developer Network</span>.
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      <a href="https://developer.mozilla.org/es/">MDN - Mozilla Developer Network</a>
      <!-- Fin -->
    </div>


  </body>
</html>
