<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">condicionales</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      
    </div>

    <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">repeticion</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      
    </div>

   
     <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">funciones</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      
    </div>

    <script src="/scripts/ejercicio.js"></script>
    <script src="/scripts/ejecutar.js"></script>
  </body>
</html>
