<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
       <div id="bloque1">
          <img src="/images/bird-g090b3dc13_1920.jpg" alt="imagen 1">
          <img src="/images/skyline-g3c78746f9_1920.jpg" alt="image 2">
          <img src="/images/stream-g05f7f9aab_1920.jpg" alt="image 3">
          <img src="/images/mute-swan-g2aa28e1ea_1920.jpg" alt="image 4">
       </div>
      <!-- Fin -->
    </div>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>
    </p>

    <div class="respuesta">
      <!-- Inicio -->
       <div id="bloque2">
          <img src="/images/bird-g090b3dc13_1920.jpg" alt="imagen 1">
          <img src="/images/skyline-g3c78746f9_1920.jpg" alt="image 2">
          <img src="/images/stream-g05f7f9aab_1920.jpg" alt="image 3">
          <img src="/images/mute-swan-g2aa28e1ea_1920.jpg" alt="image 4">
       </div>
      <!-- Fin -->
    </div>


  </body>
</html>
