<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Inicio -->
    
    <!-- Fin -->
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue la etiqueta 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>meta<span class="simbolo">></span></span>) para ajustar el contenido 
      de la página (atributo <span class="etiqueta">name</span> con valor <span class="etiqueta">viewport</span>)
      al ancho del navegador/dispositivo (atributo <span class="etiqueta">content</span> con valor <span class="etiqueta">width=device-width, initial-scale=1.0</span>).
    </p>

    <p class="instrucciones">Agregue las reglas de estilo de acuerdo con las instrucciones que se encuentran en el archivo <span class="etiqueta">public/stylesheets/ejercicio.css</span>.
    </p>
    

    <div class="respuesta">

      <section class="contenedor">
        <header class="fila">
          <h2>Imágenes</h2>
        </header>
        <main class="fila">
          <img id="imagen" class="col-4 col-md-12" src="images/img-03.jpg" alt="Flowers">
          <div id="texto"  class="col-8 col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur risus ac est venenatis, ultrices euismod lorem convallis. Sed elementum eros vitae leo eleifend, eget elementum sapien lacinia. Duis luctus enim varius, malesuada odio ut, scelerisque nibh. </p>
            <p>Ut non leo venenatis, pretium sem pretium, dictum metus. Quisque eu tortor maximus, viverra erat nec, blandit nisi. Vestibulum elementum vehicula placerat. Sed faucibus ex elit, quis feugiat nisi rhoncus nec.</p>
            <p>Suspendisse a cursus velit, non imperdiet tellus. Integer at ullamcorper ipsum. Sed vulputate augue sem, sit amet interdum orci fermentum sed. Fusce nec orci vitae ex tempus ultricies.</p>
        </main>
          </div>
          
      </section>

    </div>


  </body>
</html>