<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ejercicio.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <h2>Snippet tomado de <a href="https://codepen.io/hexagoncircle/pen/XWbWKwL" title="Ryan Mulligan"> Ryan Mulligan - Codepen </a></h2>

    <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">cargarDocumento</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta">
      
    </div>


    <h2>Snippet tomado de <a href="https://codepen.io/ainalem/pen/QWGNzYm" title="Mikael Ainalem"> Mikael Ainalem - Codepen </a></h2>

    <p class="instrucciones">
      Complete las instrucciones que se encuentran en la función <span class="etiqueta">cargarDocumento</span> que se encuentra en el archivo <span class="texto">public/scripts/ejercicio.js</span>.
    </p>
    
    <div class="respuesta n1">
       <div id="slider">
          <a href="#" class="control_next">>></a>
          <a href="#" class="control_prev"><</a>
          <ul>
            <li>SLIDE 1</li>
            <li style="background: #aaa;">SLIDE 2</li>
            <li>SLIDE 3</li>
            <li style="background: #aaa;">SLIDE 4</li>
          </ul>  
        </div>

        <div class="slider_option">
          <input type="checkbox" id="checkbox">
          <label for="checkbox">Autoplay Slider</label>
        </div> 
    </div>
    

    <script src="/scripts/ejercicio.js"></script>
  </body>
</html>
