<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="titulo"><%= ejercicio %></p>

    <p class="instrucciones">Agregue un título de nivel 1 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>h1<span class="simbolo">></span></span>)
      con el texto <span class="texto">El título más importante</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>
    


    <p class="instrucciones">Agregue un título de nivel 2 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>h2<span class="simbolo">></span></span>)
      con el texto <span class="texto">Título secundario</span>
    </p>

    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


    <p class="instrucciones">Agregue un título de nivel 6 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>h6<span class="simbolo">></span></span>)
      con el texto <span class="texto">El título menos importante</span>
    </p>
    
    <div class="respuesta">
      <!-- Inicio -->
      
      <!-- Fin -->
    </div>


  </body>
</html>
