<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="instrucciones">Agregue un título de nivel 1 
      (etiqueta <span class="etiqueta"><span class="simbolo"><</span>h1<span class="simbolo">></span></span>)
      con el texto <span class="texto">Hola, mundo</span>
    </p>
    <!-- Inicio -->
    
    <!-- Fin -->
  </body>
</html>
